.buttonGenerate {
  margin-top: 5vh;
}

.home-container {
  width: 100vw;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-main {
  margin-top: 12vh;
}

.exerciseNumberInput {
  width: 20vw;
  font-size: 2.5vh;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
