.options-main {
  margin-top: 11vh;
  font-size: 2.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.optionList-li {
  text-align: left;
  list-style-type: circle;
}

.option-info {
  margin-bottom: 2vh;
}

.optionPurple {
  color: rebeccapurple;
}
